doctype html
html(lang="en")
    - var baseurl = debug ? "" : "./"
    head
        title About Me
        meta(name="viewport", content="width=device-width")
        meta(charset="utf-8")
        meta(http-equiv="content-type", content="text/html;charset=UTF-8")
        meta(name="description", content="Just Fancy It!")
        meta(name="author", content="Eric Wang")
        meta(name="email", conen="me@emptystack.net")
        link(rel="stylesheet", href="#{baseurl}/asset/fancy.css")
        link(rel="stylesheet", href="#{baseurl}/asset/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="#{baseurl}/asset/animate.css")
        link(rel="stylesheet", href="#{baseurl}/css/index.css")
    body
        block content
        script(src="#{baseurl}/asset/fancy.js")
        script(src="#{baseurl}/js/seed.js")
        script(src="#{baseurl}/asset/gsap/TweenLite.js")
        script(src="#{baseurl}/asset/gsap/TweenMax.js")
        script.
            require(['js/index'], function(Index){
                Index.init();
                window.Index = Index
            });